source_up
# export MC_RTC_CONTROLLER_CONFIG="$PWD/../../install/lib64/mc_controller/etc/mc_rtc.yaml:$MC_RTC_CONTROLLER_CONFIG"
export MC_RTC_CONTROLLER_CONFIG="$(readlink -f "$PWD/../../install/lib64/mc_controller/etc/mc_rtc.yaml"):$MC_RTC_CONTROLLER_CONFIG"
PATH_add .env-scripts/
